<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--组建扫描-->
    <context:component-scan base-package="zqu.lxqd.controller"/>

    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="utf-8"/>
        <property name="maxUploadSize" value="307200000"/>
        <property name="maxInMemorySize" value="4096" />
    </bean>

    <mvc:interceptors>
        <!--  登录拦截器-->
        <mvc:interceptor>
            <mvc:mapping path="/admin/**"/>
            <bean class="zqu.lxqd.Interceptor.AdminLoginInterceptor"/>
        </mvc:interceptor>
          <!--登录拦截器-->
        <mvc:interceptor>
            <mvc:mapping path="/students/**"/>
            <bean class="zqu.lxqd.Interceptor.UserLoginInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>
    <!--注解驱动-->
    <mvc:annotation-driven/>
    <!--<mvc:resources location="/img/userPhoto" mapping="/upload/**"/>-->

</beans>