/*DEMO STYLES*/

body {
    background-color: #0000;
    color: #afaaaa;
    text-align: center;
    font-family: 'Agency FB';
    text-transform: uppercase;
}

img {
    border: 5px solid #fff;
    width: 95%;
}

a, a:hover {
    text-decoration: none;
    color: #fff;
}

h1, h3 {
    font-family: 'Agency FB';
    margin-bottom: 20px;
}

h1 {
    border-bottom: 0px solid #fff;
}
